[core]
    editor = vim
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[push]
    default = current

[pull]
    rebase = true

[alias]
    st = status
    co = checkout
    br = branch